<div class="row manage-single-review">
  <div class="span6">
    <h3><%= ad.name %></h3>
  </div>
  <div class="span2 backendbtns">  
    <a data-toggle="modal" href="#editmodal<%= ad.id %>" class="btn btn-glow btn-success">Edit</a>
    <div class="btn btn-glow btn-success"><%= link_to 'Delete', ad, :method => :delete, :confirm => 'Are you sure?' %></div>
  </div>
</div>

 <%= render "modals/edit_ad.html.erb", ad: ad %>
