<%= render "shared/sub_news" %>

<% @feeds.each do |f| %>
	<ul class="js-hidden js-news">
    <li class="news-item"><a href="#">This is the 1st latest news item.</a></li>
    <li class="news-item"><a href="#">This is the 2nd latest news item.</a></li>
    <li class="news-item"><a href="#">This is the 3rd latest news item.</a></li>
    <li class="news-item"><a href="#">This is the 4th latest news item.</a></li>
	</ul>
<% end %>
