<%= simple_form_for comment do |f| %>
    <%= f.input :body, :label => 'Comment' %>
  <div class="modal-footer">
    <%= f.button :submit, class: "btn-success" %>
    <a href="#" class="btn" data-dismiss="modal">Close</a>
  </div>
<% end %>
