<%= simple_form_for article do |f| %>
    <%= f.input :title, :label => 'Title' %>
    <%= f.input :content, :label => 'Content' %>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Close</a>
    <%= f.button :submit %>
  </div>
<% end %>
