<div class="row manage-single-review">
  <div class="span6">
    <h3><%= dispensary.name %></h3>
  </div>
  <div class="span2 backendbtns">  
    <a data-toggle="modal" href="#editmodal<%= dispensary.id %>" class="btn btn-glow btn-success">Edit</a>
    <div class="btn btn-glow btn-success"><%= link_to 'Delete', dispensary, :method => :delete %></div>
  </div>
</div>

 <%= render "modals/edit_dispensary.html.erb", dispensary: dispensary %>
