<div class="row">
  <div class="span7">
		<div class="gravitar span2"><%= gravatar_image_tag(comment.user.email) %></div>
		<h3><%= comment.user.user_name %></h3>
  </div>
  <div class="span5">
    <p><%= comment.body %></p>
  </div>
</div>
