<div class="row">
  <div class="span4">
    <%= gravatar_image_tag(comment.user.email) %>
    <%= comment.user.user_name %>
  </div>
  <div class="span5">
    <p><%= comment.body %></p>
  </div>
</div>
