      <div id="cannacarouseltop" class="carousel slide">
        <!-- Carousel items -->
        <div class="carousel-inner">
          <div class="active item"><%= link_to( image_tag("/images/slider/carousel_critiques.jpg"),
																								critiques_path ) %></div>
          <div class="item"><%= link_to( image_tag("/images/slider/carousel_dispatches.jpg"),
																								current_volume_path ) %></div>
        </div>
      </div>
