<% off = ((on < 5) ? (5 - on) : 0) %>

<div class="span2" id="listing-rating">

  <% on.times do %>
    <i class="icon-star icon-white"></i>
  <% end %>
  <% off.times do %>
    <i class="icon-star-empty icon-white"></i>
  <% end %>

<p><%= "Based on #{dispensary.num_of_reviews} Reviews" %></p>

</div>
