<object data="<%= url %>" type="application/x-shockwave-flash" id="myflash" width="250" height="250">
<param name="movie" value="myflash.swf" />
<param name="bgcolor" value="#ffffff" />
<param name="height" value="100" />
<param name="width" value="200" />
<param name="quality" value="high" />
<param name="menu" value="false" />
<param name="allowscriptaccess" value="samedomain" />
<p>Adobe <a href="http://get.adobe.com/flashplayer/">Flash Player</a> is required to view this content.</p>
</object>
