<p class="subnavnews">
<span class="label label-success"><%= link_to "Previous Dispatches", volumes_path %></span>
<span class="label label-success right"><%= link_to "Articles List", articles_path %></span>
</p> 
