<div class="row mbwrapper2">
	<div class= header>
		<div class="subnav">
			<ul class="nav nav-pills">
				<li><%= link_to "All Critiques", critiques_path %></li>
				<li><%= link_to "Dispensary Reviews", critiques_dispensaries_path %></li>
				<li><%= link_to "Strain Reviews", critiques_strains_path %></li>
			</ul>
		</div>
	</div>
</div>
