<div class="row mbwrapper2 sub-news">
	<p>Testing</p>	
</div>


				<% link_to "Dispatches", volume_path( Volume.the_current ) %>
				<% link_to "Dispatches Archives", volumes_path %>
				<% link_to "Articles", articles_path %>
