<div class="row mbwrapper2">
	<div class= header>
		 <div class="subnav">
		    <ul class="nav nav-pills">
		      <li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown">Main site<b class="caret"></b></a>
			<%= render "shared/sub_sub_nav" %>
		        </li>
		      <li><%= link_to "Dispensary Reviews", critiques_type_path( "dispensary" )%></li>
		      <li><%= link_to "Strain Reviews", critiques_type_path( "strain" )%></li>
		    </ul>
		  </div>
	</div>
	</div>
