<div class="row mbwrapper2 sub-news">
	<div class= header>
		<div class="subnav">
			<ul class="nav nav-pills">
				<li><%= link_to "Dispatches", volume_path( Volume.the_current ) %></li>
				<li><%= link_to "Dispatches Archives", volumes_path %></li>
				<li><%= link_to "Articles", articles_path %></li>
			</ul>
		</div>
	</div>
</div>
