
	<div class="span2" id="searchoptions">
		<form class="form-horizontal">
		<div class="controls">
              <label class="radio">
                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                Dispensaries
              </label>
              <label class="radio">
                <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                Smoke Shops
              </label>
	        <label class="radio">
                <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                Grow Stores
              </label>
          </div>
		</div>
		</form>
		
	</div>
