  <div class="alert alert-info" style="margin-bottom:242px;">
    <a class="close" data-dismiss="alert" href="#">×</a>
		<div class="row">
			<div class="span3">
				<%= image_tag "/images/site/roachy-small.png" %>
			</div>
			<div class="span7">
				<h4 class="alert-heading">Roachy's Notice</h4>
				<p>Sorry your current search came up blank. We are working to get more and more content and listings. In the mean time please try broader search terms. Have a wonderfull day!</p>
			</div>
		</div>
  </div>
