<%= simple_form_for volume do |f| %>
    <%= f.association :articles, :collection => Article.all(:order => 'created_at DESC'), :as => :check_boxes %>
    <%= f.input :photo_url, label: "Headline Photo URL" %>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Close</a>
    <%= f.button :submit %>
  </div>
<% end %>
