<%= simple_form_for volume do |f| %>
    <%= f.association :articles, :collection => Article.all(:order => 'created_at DESC'), :as => :check_boxes %>
    <%= f.input :photo_url, label: "Headline Photo URL" %>
    <%= f.button :submit, class: "btn-success" %>
    <a href="#" class="btn" data-dismiss="modal">Close</a>
<% end %>
