<%= simple_form_for volume, :html => { :multipart => true } do |f| %>
    <%= f.association :articles, :collection => Article.all(:order => 'created_at DESC'), :as => :check_boxes %>
		<%= f.file_field :photo %>
    <%= f.button :submit, class: "btn-success" %>
    <a href="#" class="btn" data-dismiss="modal">Close</a>
<% end %>
