<div class="row">
	<div class="span9">
	  <div class="row">
	    <div class="span4">
	      <%= image_tag critique.photo_url, size: "300x300" %>
	    </div>
	    <div class="span5">
	      <h3><%= critique.title %></h3>
        <p><%= critique.content %></p>
      </div>
    </div>
  </div>
</div>
