<div class="row article-exerpt">
	<div class="span8 exerpt-img">
		<img src="http://cannapages.com/colorado/files/2011/03/Flower2_CannaPortrait.jpg">
		<br/>
	</div>
	<div class="span4">
	<div class="cbnewstextright" style="font-family: sans-serif">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. </div>
	</div>
</div>
