<%= render "shared/sub_nav" %>
<div class="row mbwrapper2">
	<div class="span2">
		<div class="cbnewstopicon"><img src="http://www.topsearchpros.com/testserver/cannapages/wp-content/uploads/2012/06/cannacritiqueslogo2-023.png"></div>
	</div>
	<div class="span7">
		<div class="cbdispatchtext"><img src="http://www.topsearchpros.com/testserver/cannapages/wp-content/uploads/2012/06/cannacritiqueslogo-01.png"></div>
	</div>
</div>
	
<div class="row mbwrapper2">
	<div class="span2">
		<div class="cbnewstextsubone"></div>
	</div>
	<div class="span2 offset3">
	<div class=cbnewstextsubone></div>
</div>
<div class="row">
	<div class="span12">
	</div>
</div>

<% 10.times do %>
	<%= render "mock_article" %>
<% end %>
