<%= render "shared/sub_critiques" %>

<div class="row">
	<%= image_tag "cc-mainlogo.jpg" %>
</div>

	
	<% @critiques.each do |c| %>
    <%= render "critiques/critique_exerpt", critique: c %>
  <% end %>
