<div class="critiques-container-show">
	<center><h3><%= @critique.title %></h3></center>
	<p>
		<%= image_tag @critique.photo(:large) %>
		<%= raw @critique.content %>
	</p>
</div>
<div class="critiques-container-show">
	<% unless @critique.dispensary.nil? %>
		<% d = @critique.dispensary %>
		<p><%= link_to "Visit #{d.name}'s listing page", d %></p>
	<% end %>
</div>
