<div class="dropdown main-cat-select">
<%= link_to( image_tag( "/images/icons/arrow-right.png", id: "cat-select" ),
												"#", class: "dropdown-toggle hidden" ) %>
	<ul class="dropdown-menu cat-select-menu" role="menu" aria-labelledby="dLabel">
		<li class="cat-select-btn"><p>All Categories</p></li>
		<li class="cat-select-btn"><p>Law</p></li>
		<li class="cat-select-btn"><p>Growing</p></li>
	</ul>
</div>	
