<div class="row">
	<%= form_tag volume_search_path, method: :put, class: "form-search", 
																				id: "main-search-container" do %>
		<div class="span7">
			<%= text_field_tag :search_term, "", 
											 placeholder: "Name, Author or Body Search", 
											 :class => "input-medium search-query big-search volumes-search", :id => "cannaenginetext-big2" %>

			<%= hidden_field_tag :category, "All", id: "send-cat" %>
		</div>
		<div class="span1">
			<!-- <button type="submit" class="btn-custom" id="main2-find-btn"> -->
			<!-- </button> -->
				<%= image_tag "/images/icons/magglass.png", class: "search-icon canna-link"%>
		</div>
	<% end %>
</div>
