<div id="about" class="modal hide fade" style="display: none;">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">X</button>
    <h3>About Cannapages</h3>
  </div>
  <div class="modal-body about-modal">
		<h5>About Us:</h5>
		<p>Cannapages.com was founded by patients and volunteers in 2009 as a directory and medical cannabis patient resource. Since then, we've expanded into magazines and other channels, and now reach well over 250,000 international enthusiasts monthly. Our agency has grown to incorporate other industry leaders and their initiatives, and we work tirelessly to develop new technologies that will fully connect both consumers and businesses in this blossoming community. Everything you see is based on research: we've managed dispensaries and industrial growspaces, we've helped brand companies and clubs, we've launched publications and hosted conventions.</p>
		<p>Our Denver-based Cannapages Headquarters always gets new tips from all over the country; whether medical or retail, legal, grow-related or otherwise, we are working hard to revolutionize this industry and include everybody! If you have a listing, category, article, new product, or anything else the Cannapages editors need to know about, don't hesitate to contact us! We also offer free or discounted consulting and tech services to cannabis industry groups and political campaigns.</p>
		<p>Have a question about advertising? Starting a Cannabis Business? Contact Us Today!</p>
  </div>
</div>
