<div id="edithoursmodal<%= dispensary.id %>" class="modal hide fade" style="display: none;">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">X</button>
		<h3>Edit Business Hours</h3>
	</div>
	<div class="modal-body">
		<%= render "hours_of_operations/admin_form", hours_of_operation: dispensary.hours_of_operation %>
	</div>
</div>
