<div id="cadets-help" class="modal hide fade" style="display: none;">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">X</button>
    <h3>CannaCadets?</h3>
  </div>
  <div class="modal-body">
    <h3>Overview</h3>
    <p>A place to manage your posts, learn, contribute and connect</p>
    <h3>Features</h3>
    <p>Some are still in development..... one day... one day... one day eh e</p>
    <ul>
      <li>Create and manage business listings</li>
      <li>Advertise your business</li>
      <li>Manage all post, reviews, and comments</li>
      <li>Move up throught the ranks in a zen inspired "THE PATH"</li>
      <li>Contribute to the wiki</li>
      <li>Gain accsess to coupons</li>
      <li>Connect with other members</li>
      <li>Become an author of articles and critiques or a discussion moderator</li>
    </ul>
  </div>
</div>
