<div id="contact" class="modal hide fade" style="display: none;">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">X</button>
    <h3>Contact Us</h3>
  </div>
  <div class="modal-body about-modal">
		<p><h5>Denver Headquarters Main Switchboard:</h5><a href="tel:720-339-2259">720-339-2259</a></p>
		<br/>
		<h5>General Information:</h5>
		<a href="mailto:info@cannapages.com">info@cannapages.com</a>
		<br />
		<br/>
		<p><h5>Editorial Department:</h5><a href="mailto:editors@cannapages.com">editors@cannapages.com</a></p>
		<br/>
		<p><h5>Advertising Department:</h5><a href="mailto:editors@cannapages.com">advertising@cannapages.com</a></p>
		<br/>
		<p><h5>Contact directly by phone:</h5><a href="tel:303-586-1940">303-586-1940</a></p>
		<br />
		<h5>Send us Mail!</h5>
		<p>Cannapages.com</p>
		<p>PO Box 100810</p>
		<p>Denver, CO 80250</p>
  </div>
</div>
