<div id="createmodal" class="modal hide fade" style="display: none;">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">X</button>
          <h3>Review Dispensary</h3>
      </div>
      <div class="modal-body">
          <%= render "user_dispensary_reviews/form", review: UserDispensaryReview.new, dispensary: dispensary %>
      </div>
</div>
