<div id="create_dispensary" class="modal hide fade" style="display: none;">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">X</button>
        <h3>Create Dispensary</h3>
    </div>
    <div class="modal-body">
        <%= render "dispensaries/form", dispensary: Dispensary.new %>
    </div>
</div>
