<div id="editmodal<%= volume.id %>" class="modal hide fade" style="display: none;">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">X</button>
          <h3>Edit Volume</h3>
      </div>
      <div class="modal-body">
          <%= render "volumes/form", volume: volume, articles: articles %>
      </div>
</div>
