<div id="must_be_logged_in" class="modal hide fade" style="display: none;">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">X</button>
    <h3>The Path</h3>
  </div>
  <div class="modal-body">
    <p>
			Sorry you must be logged in to acsess this functionality
    </p>
  </div>
</div>
