<div id="resources" class="modal hide fade" style="display: none;">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">X</button>
    <h3>Business Resources</h3>
  </div>
  <div class="modal-body about-modal">
		<h4>CannaCritiques</h4>

		<h5>Expert Reviews for Fine Cannabis Products</h5>
		<p>If you can’t get a cannabis cup award, at least get your prized product the review it deserves, with an expert write-up from the CannaCritics! We proudly help set apart each signature strain by researching its lineage and documenting the user-experience for other patients. This can be tricky, especially monitoring a variety of people with different tolerance levels and smoking habits.</p>
		<p>Strain reviews from the CannaCritics help patients find your business online, and better customize their purchasing. Your store will see larger numbers of educated patients who care about more about the quality of their bud than its price. Create a buzz about your strain at no cost and shoot for the coveted Cream of the Crop designation on Cannapages.com, our undeniable certificate of excellence.</p>
		<ul>
		<li>Use an excerpt for your advertising or website.</li>
		<li>Get found in Search Engines</li>
		<li>The Critics review and publish for FREE</li>
		</ul>
		<hr />

		<h5>CannaMerchant</h5>
		<ul>
		<li>Expert Accounting, Compliance and Tracking Solutions</li>
		<li>CannaMerchant is the most cutting-edge operations system in the cannabis industry, exclusively available from the experts at Cannapages.com. Utilizing the database genius of Adilas.biz and a superior seed-to-shelf grow managing system, we proudly offer the most powerful and competitive internet-based software for the lowest price!</li>
		<li>There is no other POS or Compliance Operating System that integrates real time point of sale, payroll, live accounting, and grow-tracking in such a seamless fashion! Do all your management on-site, from home, or on your mobile phone. Reconcile your bank account, perform schedule and payroll, and calculate investments or taxes instantly–even while away from the office. CannaMerchant clients enjoy the benefit of FREE menu linking to their listing on Cannapages.com, so that patients can see what you have in stock the moment it’s in the system! Even link your CannaMerchant menu to your website or other MMJ Directories!</li>
		</ul>
		<hr />

  </div>
</div>
