<div id="strain-wiki" class="modal hide fade" style="display: none;">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">X</button>
    <h3>Strain Wiki</h3>
  </div>
  <div class="modal-body">
    <p>
      The Strain Wiki will be comming soon.
    </p>
  </div>
</div>
